/* Start of weather widget related css */

#weather-data {
    background-color: rgb(255, 255, 166);
    border-style: 5px solid rgb(142, 15, 15);
    border-radius: 10px;
    font-family: Arial, sans-serif;
    margin: auto;
    margin-top: 3rem;
    padding: 50px;
    width: 50%;
}

#weather_data_heading {
    font-weight: 800;
    color: green;
}

#weather-data h2 {
    color: red;
    margin: 10px 0;
}

#weather-data h3 {
    color: blue;
    margin: 10px 0;
}

#weather-data p {
    margin: 10px 0;
}

/* End of weather widget related css */